/*
 * CODEBLOCK
 */
:root {
  --snippet-border-width: 2px;
  --snippet-border-color: var(--accent-color);
  --code-radius: 10px;
}

body {
  --code-radius: 10px;
}

/* default codeblock style */
pre[class*="language-"] {
  border: solid;
  border-width: var(--snippet-border-width);
  border-color: var(--accent-color);
}

.codeblock-clear pre[class*="language-"] {
  border: none;
  border-width: var(--snippet-border-width);
}

.codeblock-dashed pre[class*="language-"] {
  border: dashed;
  border-width: var(--snippet-border-width);
  border-color: var(--snippet-border-color);
}

/*
 * TABLE FIXES
 */
.markdown-preview-view.is-readable-line-width .markdown-preview-sizer>div:has(>table) {
  max-width: var(--max-width);
  width: var(--line-width);
  margin-inline: var(--content-margin) !important;
}

/* paragraphs are already spaced properly, no need for extra margin on table */
.markdown-preview-view.is-readable-line-width .markdown-preview-sizer>div:has(>table) table {
  margin-block-start: 0px;
  margin-block-end: 0px;
}

/*
 * MISC
 */

.task-items ul>li.task-list-item[data-task="x"],
.task-items ul>li.task-list-item[data-task="X"] {
  text-decoration: line-through;
}

body {
  --inline-title-size: calc(var(--h1-size)*1.25);
  /* --inline-title-color: var(--color-red); */
  --inline-title-color: var(--tx1);
  --inline-title-weight: var(--font-bold);
  --h1-color: var(--color-orange);
  --h2-color: var(--color-yellow);
  --h3-color: var(--color-yellow);
  --h4-color: var(--color-green);
  --h5-color: var(--color-cyan);
  --h6-color: var(--color-blue);

  --h5-variant: var(--h4-variant);
  --h6-variant: var(--h4-variant);

  --h6-weight: var(--h5-weight);

  --h1-size: calc(var(--h6-size)*1.25);
  --h2-size: calc(var(--h6-size)*1.20);
  --h3-size: calc(var(--h6-size)*1.15);
  --h4-size: calc(var(--h6-size)*1.10);
  --h5-size: calc(var(--h6-size)*1.05);
  --h6-size: var(--font-text-size);
}
