configuration {
	show-icons: true;
	drun-display-format: " {name} [<span weight='light' size='small'><i>({generic})</i></span>]";
	cycle: false;
	combi-modes: "drun,run";
	display-run: "Execute";
	display-drun: "Application";
	display-combi: "Applications";
	monitor: "-2"; /* not sure */
}

@theme "gruvbox"

listview {
	lines: 8;
	columns: 2;
}
